
.form {
    padding: 25px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 1px 12px -6px rgba(0, 0, 0, .75);
    border-top: none;
    box-sizing: border-box;
    background-color: #ebebf3;
    color: dimgrey;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;


}
.innerForm {
    width: 100%;
}

.form__title {
    text-align: center;
    margin-top: 0;
}

input {

    width: 100%;
    font-size: 16px;
    border: none;
    padding: 10px 20px 5px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 9px -5px rgba(0, 0, 0, .75);

}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.checkboxWrapper {
    display: flex;
    align-items: center;
}
form > div {
    margin-top: 20px;
}

.buttonWrapper {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    font-size: 18px;

}
.alert {
    font-size: 12px;
    padding: 5px;
    display: none;
}
.alert > a {
    color: dimgrey;
}