.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #F6F6FF;
    box-shadow: 0 1px 12px -6px rgba(0, 0, 0, .75);
    padding: 20px;
    box-sizing: border-box;
}
.post__header {
    display: flex;
    justify-content: space-between;
}
.post__wrapper {
    display: flex;
    align-items: center;
}
.post__delete {
    color: #535353;
}
.post__delete:active {
    color: #000000;
}
.post__delete:hover {
    cursor: pointer;
}

.post__avatar {
    margin-right: 15px;
}

.post__info {
    display: flex;
    flex-direction: column;

}

.post__info > h3 {
    margin: 0;

}
.post__info > p {
    margin: 0;
    font-size: 14px;
    color: #535353;
}

.post__message {
    color: black;
    font-size: 16px;
    padding-left: 50px;
}