.contactCard {
    justify-content: space-between;
    display: flex;
    flex-flow: column wrap;
    min-width: 250px;
    align-items: center;
    flex: 1 1 0;
    margin: 20px;
    border-radius: 20px;
    background-color: #F6F6FF;
    box-shadow: 0 1px 12px -6px rgb(0 0 0 / 75%);
    padding: 20px;
    box-sizing: border-box;
}