.wishlistItem {
    width: 100%;
    min-width: 300px;
    display: flex;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #F6F6FF;
    box-shadow: 0 1px 12px -6px rgba(0, 0, 0, .75);
    padding: 20px;
    box-sizing: border-box;
    justify-content: space-between;
}
.wishlistItem > span {
    overflow-wrap: anywhere;
    padding-right: 20px;
}
.wishlistItem__delete {
    color: #535353;
    cursor: pointer;
}

.wishlistItem__delete:active {
    color: #000000;
}