.contentNavigation__item{
    flex: 1 1 0;
    height: 50px;
    border-right: 2px solid lightgrey;
}

.contentNavigation__item_last {
    border: none;
}
.contentNavigation__item_privat {
    background-color: #EBEBF3;
}
.contentNavigation__item_active h4{
    font-weight: bold;
    color: #615DFA;
    font-size: 20px;
}
.contentNavigation__item:hover h4{
    color: #615DFA;
    transition: 0.4s;
}
.contentNavigation__item:hover {
    transform: scale(1.07);
    transition: 0.1s ease-in;
}

h4  {
    margin: 0;
    text-align: center;
    line-height: 50px;
    color: grey;
}
